<div class="jumbotron">
  <p class="lead">Open up the console to see a realtime output of calendar events.</p>

  <%= form_tag("/delete", method: :delete) do %>
    <button type="submit">Or click to delete everything and watch it rebuild itself...</button>
  <% end %>
</div>

